<mat-card>
  <form class="signup" [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field>
      <input matInput formControlName="firstName" placeholder="First Name" [required]="!user">
      <mat-error *ngIf="form.get('firstName').invalid && !user">
        <div *ngIf="form.get('firstName').errors.minlength">First Name must be at least 2 characters long</div>
        <div *ngIf="form.get('firstName').errors.required">First Name is <strong>required</strong></div>
        <div *ngIf="form.get('firstName').errors.maxlength">First Name length must not exceed more than 30 characters
        </div>
        <div *ngIf="form.get('firstName').errors.pattern">First Name must contain only latin letters</div>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="lastName" placeholder="Last Name" [required]="!user">
      <mat-error *ngIf="form.get('lastName').invalid && !user">
        <div *ngIf="form.get('lastName').errors.minlength">Last Name must be at least 2 characters long</div>
        <div *ngIf="form.get('lastName').errors.required">Last Name is <strong>required</strong></div>
        <div *ngIf="form.get('lastName').errors.maxlength">Last Name length must not exceed more than 30 characters
        </div>
        <div *ngIf="form.get('lastName').errors.pattern">Last Name must contain only latin letters</div>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="login" placeholder="Login" [required]="!user">
      <mat-error *ngIf="form.get('login').invalid && !user">
        <div *ngIf="form.get('login').errors.minlength">Login must be at least 8 characters long</div>
        <div *ngIf="form.get('login').errors.required">Login is <strong>required</strong></div>
        <div *ngIf="form.get('login').errors.maxlength">Login length must not exceed more than 30 characters</div>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="password" placeholder="Password" type="password" [required]="!user">
      <mat-error *ngIf="form.get('password').invalid && !user">
        <div *ngIf="form.get('password').errors.minlength">Password must be at least 8 characters long</div>
        <div *ngIf="form.get('password').errors.required">Password is <strong>required</strong></div>
        <div *ngIf="form.get('password').errors.maxlength">Password length must not exceed more than 30 characters</div>
        <div *ngIf="form.get('password').errors.pattern">Password must contain at least 1 capital letter, 1 lower case
          letter qnd 1 digital
        </div>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>City</mat-label>
      <mat-select formControlName="city" [required]="!user">
        <mat-option *ngFor="let city of cities" [value]="city._id">
          {{city.title}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('city').invalid && !user">
        <div *ngIf="form.get('city').errors.required">City is <strong>required</strong></div>
      </mat-error>
    </mat-form-field>
    <div class="button-set">
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || form.pending">Submit</button>
    </div>
  </form>
  <div class="removeUser" *ngIf="user">
    <mat-divider></mat-divider>
    <button mat-raised-button color="warn" (click)="removeAccount()">Remove Account</button>
  </div>
  <app-error-message *ngIf="error" [error]="error"></app-error-message>
</mat-card>


