<mat-card>
  <form class="login" [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field>
      <input matInput formControlName="login" placeholder="Login" required>
      <mat-error *ngIf="form.get('login').invalid">
        Login is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="password" placeholder="Password" type="password" required>
      <mat-error *ngIf="form.get('password').invalid">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <div class="button-set">
      <button mat-button color="primary" type="submit" [disabled]="form.invalid || form.pending">Sign in</button>
      <button mat-button color="accent" type="button" routerLink="/signup">Sign Up</button>
    </div>
    <app-error-message *ngIf="error" [error]="error"></app-error-message>
  </form>
</mat-card>




