<mat-toolbar color="primary" class="navbar">
  <div class="logo"><a routerLink="/me">SomeApp</a></div>
  <nav>
    <div *ngIf="getIsAuthenticated(); else elseBlock">
      <a routerLink="/me" routerLinkActive="active">Home</a>
      <a routerLink="/users" routerLinkActive="active">Users</a>
      <a (click)="logout()">Log Out</a>
    </div>
    <ng-template #elseBlock>
      <a routerLink="/signup" routerLinkActive="active">Sign Up</a>
      <a routerLink="/login" routerLinkActive="active">Log In</a>
    </ng-template>
  </nav>
</mat-toolbar>
<main>
  <router-outlet></router-outlet>
</main>
