<div class="user-details">
  <nav>
    <a title="go to the users list" routerLink="/users">Users List</a>
  </nav>
  <div *ngIf="user">
    <h2>{{user.firstName + ' ' + user.lastName | uppercase}} Details</h2>

    <ul>
      <li>
        <span class="title">Full Name</span> {{user.firstName + ' ' + user.lastName}}
      </li>
      <li>
        <span class="title">City</span> {{user.city}}
      </li>
      <li>
        <span class="title">Id</span> {{user._id}}
      </li>
    </ul>
  </div>
</div>
